//Don't change the "inputXPath"
//Fill in names and links
//Copy everything below

{
  "inputXPath": "/html/body/div[1]/div/div[1]/div/div[3]/div/div/div/div[1]/div[1]/div[2]/div/div/div/div/div/div[1]/div[2]/div/div/div[2]/div/div/div[4]/div[2]/div/div/div[1]/p",
  "Contacts": {
    "<First Name of Person in lowercase goes here>": {
      "link": "<Link to their Facebook messenger>"
    }
  }
}